.tour-display{
    padding: 1% 12.5%;
    background-color:#ecf0f5;
}

.tour-display .tour-display-name {
    font-size: 40px;
    color: #003C71;
    font-weight: bold;
}

.tour-display .tour-display-body{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.tour-display .tour-display-body .tour-display-left{
    flex: 2;
    margin-right: 3%;
}

.tour-display-left .tour-display-img img{
    width: 100%;
}

.tour-display-left .tour-display-add {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 2%;
    color: #50535d;
    font-weight: bold;
    background-color: rgba(148,151,163,.1);
    border-bottom: 1px solid rgba(148,151,163,.15);
}

.tour-display-left .tour-display-intro {
    margin-top: 2%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 2%;
}
.tour-display-intro .intro-name{
    font-size: 25px;
    color: #003C71;
    font-weight: bold;
}
.tour-display-intro .intro-body{
    margin-top: 2%;
}

.tour-display-left .tour-display-content{
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 2%;
    margin-top: 2%;
}

.tour-display-content .tour-display-body-name{
    font-size: 25px;
    color: #003C71;
    font-weight: bold;
}
.tour-display-content .tour-display-body-list{
    margin-top: 2%;
}
.tour-display-body-list .tour-list-date{
    margin-bottom: 2%;
}
.tour-list-date .tour-list-date-content{
    font-size: 22px;
    color: #50535d;
    font-weight: bold;
    margin-bottom: 2%;
}

.tour-list-date .tour-list-img img{
    width: 100%;
}

.tour-list-date .tour-list-array{
    margin: 2% 0;
}
.tour-list-date .tour-describetour{
    line-height: 1.8;
}
.tour-display-body .tour-display-right{
    background-color: #ffffff;
    height: fit-content;
    box-sizing: border-box;
    padding: 2% 1%;
    min-width: 30%;
}
.tour-display-right .tour-right-title{
    font-size: 20px;
    font-weight: bold;
    color: #003C71;
}
.tour-display-right .tour-right-start-date, .tour-right-end-date{
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%);
    padding: 5% 2%;
    margin-top: 4%;
    border-radius: 4px;
    opacity: 0.7;
}

.tour-display-right form .tour-right-price{
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%);
    padding: 5% 2%;
    margin-top: 4%;
    border-radius: 4px;
    opacity: 0.7;
}
.tour-display-right form .tour-right-price input{
    margin-left: 5%;
    border: 1px solid #ffffff;
    width: 20%;
}

.tour-display-right form .tour-right-sum {
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%);
    padding: 5% 2%;
    margin-top: 4%;
    border-radius: 4px;
    opacity: 0.7;
}
.tour-display-right form .tour-button{
    margin-top: 4%;
    text-align: center;
}
.tour-display-right form .tour-button input{
    padding: 5% 0;
    width: 48%;
    border-radius: 4px;
    cursor: pointer;

}
.tour-display-right form .tour-button input#input-one{
    border: 3px solid #f79321;
    background-color: #ffffff;
    color: #f79321;
    font-weight: bold;
}
.tour-display-right form .tour-button input#input-one:hover{
    background-color: #ffbd00;
    border: 3px solid #ffbd00;
    color: #ffffff;
}

.tour-display-right form .tour-button input#input-two{
    border: 3px solid #f79321;
    background-color: #f79321;
    color: #ffffff;
    font-weight: bold;
}

.tour-display-right form .tour-button input#input-two:hover{
    background-color: #ffbd00;
    border: 3px solid #ffbd00;
    color: #ffffff;
}

.button{
    cursor: pointer;
}
