/* .navbar {
    width: 100%;
    height: 70px;
    background-color: #003c71;
    box-shadow: 0px 0px 10px #003c71;
} */
#index-container{
    width: 100%;
    position: relative;
}
#index-container .index-image{
    position: relative;
    background-image: url(../../img/background.jpg);
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}

.index-image .index-body{
    position: absolute;
    top: 10px;
    width: 780px;
    margin-left: 12.5%;
}

.index-body .index-content{
    color: #ffffff;
}
.index-body .index-content h1{
    font-size: 40;
}

.index-body .index-content h3{
    font-size: 22px;
}

.index-body .index-form{
    background-color: rgba(0,0,0,0.3);
    padding: 15px;
    border-radius: 5px;
}

.index-form .add-to {
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 5px;
}
.index-form .add-to input{
    border: #ffffff;
    margin-left: 20px;
}

.index-form .date-time{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.date-time .time{
    flex: 2;
}
.date-time .time input{
    border-radius: 5px;
    border: #ffffff;
    padding: 20px ;
    width: 100%;
}
.date-time .add_from {
    margin-left: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    flex: 2;
}
*:focus{
    outline: none;
}

.date-time .add_from i{
    margin-left: 20px;
}
.date-time .add_from input{
    padding: 20px;
    border: #ffffff;
}

.date-time .form-button {
    margin-left: 15px;
}

.date-time .form-button input{
    padding: 20px 35px;
    border-radius: 5px;
    border: 1px solid #f79321;
    background-color: #f79321;
    color: #ffffff;
    font-weight: bold;
}

.date-time .form-button input:hover{
    background-color: #e98e07;
    border: 1px solid #e98e07;
}
.index-form .content-form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-form p{
    color:  #ffffff;
}
.content-form input{
    margin-left: 20px;
    background-color: rgba(255,255,255,0.3);
    border-color: #fff;
    border-radius: 3px;
    height: 35px;
    width: 120px;
    color: #ffffff;
}
#index-container .index-select{
    display: flex;
    flex-direction: row;
    padding: 1% 12.5%;
    background-color: rgba(0,60,113,0.05);
    position: relative;
}

.index-select .select-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.index-select .select-item .fa-check-circle {
    font-size: 40px;
    color: #003C71;
    margin-right: 20px;
}

.index-select .select-item p {
    color: #003C71;
    font-weight: bold;
    width: 200px;
}

#index-container .tours{
    padding: 1% 12.5%;
}

.tour .tour-name{
    font-size: 35px;
    font-weight: bold;
    opacity: 0.8;
}
.tour .tour-info {
    margin-top: 5px;
    font-size: 18px;
    opacity: 0.8;
}

.tour .tour-detail {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    
}

.tour-detail .tour-item{
    width: 25%;
    margin-right: 8%;
    margin-bottom: 5%;
}
.tour-item .tour-image img{
    width: 100%;
    height: auto;
}
.tour-item .tour-body{
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0,60,113,0.05);
    border:  1px solid #e4e4e6;
    border-radius: 2px;
    padding: 4%;

}
.tour-body .tour-item-name a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #003C71;
}
.tour-body div{
    margin: 2% 0;
}

.tour-item .tour-body:hover{
    background-color: #29b6f6;
    border: 1px solid #29b6f6;
    transition: all .2s ease-in-out
}
